<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>realize a MVVM framework</title>
    <style type="text/css">
        #p_text {
            font-size: 40px;
        }
        #tpl1 {
            width: 100px;
            height: 100px;
            background: red;
        }
        #tpl2 {
            display: inline-block;
        }
    </style>
</head>
<body>

<div id="tpl">
    <div lv-for="li in list">
        <label lv-text="li.name"></label>
        <ul>
            <li lv-for="tag in li.tagList">
                <label lv-text="tag.id"></label>
            </li>
        </ul>
    </div>
</div>

<script src="./js/JSpringMin.js"></script>
<!-- <script src="./vue-1.0.28.js"></script> -->
<script>

    JSpringMin([
        'tpl',
        function ($scope){
            // setTimeout(function(){
            //     $scope.list.$set(1, );
            //     $scope.showFlag = true;
            // },5000)
        },
        function (){
            return data = {
                list: [
                {
                    name:1,
                    tagList:{
                        tag:11
                    }
                },
                {
                    name:2,
                    tagList:{
                        tag:22
                    } 
                },{
                    name:3,
                    tagList:{
                        tag:33
                    }
                }]
            }
        }
    ]);

</script>

</body>
</html>